
<div id="tabstrip-getLocation" 
     data-role="view"  
     data-title="Най-близките спирки" 
     data-model="app.myLocation.viewModel">
    <!--data-id="tabstrip-transport"-->
    <div class="weather">
        <div class="separator">
            <div class="dark"></div>
            <div class="light"></div>
        </div>

        <div style="text-align: center;">
            <a data-role="button"  data-bind="events: {click:getNearestStops}" > Намери най-близките спирки </a>
        </div>

        <!--events: {click:getSchedules}-->

        <ul class="forecast-list"
            data-role="listview" 
            data-bind="source: nearestStops " 
            data-template = "nearest-stops-template">
        </ul>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="nearest-stops-template">
    <a >
        <div>
            <h1>#: name#</h1>
            <p>#: distans# метра</p>
        </div>
    </a>
</script>