
<div id="tabstrip-transports" 
     data-role="view"  
     data-title="Търсене" 
     data-model="app.transportService.viewModel">
    <!--data-id="tabstrip-transport"-->
    <div class="weather">
        <!--<h1>TRANSPORT VIEW</h1>
        -->
        <div class="separator">
            <div class="dark"></div>
            <div class="light"></div>
        </div>

        <ul data-role="buttongroup" data-select-on="up" data-bind="events: { select: onTypeSelect}"   style="text:40">
            <li>Автобуси</li>
            <li>Трамвай</li>
            <li>Тролей</li>
        </ul>
        <div style="text-align : center;">
            <select id="categories-list"
                    style=" width: 85%;  font-size:1.8em; text-align:center;"
                    data-role="dropdownlist"
                    class="button login-button"
                    data-bind="source: selectedType , events: { change: onNumberChange}"
                    data-text-field="n">

                <!--class="km-button km-buttongroup login-button"-->
                <!--data-template="dropdownlist-template">-->
            </select>
        </div>
        <div style="text-align: center;" >
            <a  id="button-holder" data-role="button" data-bind="events: {click:onDirectionsClick}" class= "big-button" > Изберете Номер </a>
            <!--data-bind="data-click:changeDirections"-->
        </div>

        <ul 
            data-role="listview" 
                    
            data-bind="source: stops , events: {click:getSchedules}" 
            data-template = "dropdownlist-template">
            <!--data-text-field="n">-->
        </ul>

        <!--data-select-on="up"
        data-style="inset"-->

        <!--data-template="transport-template"-->
        <!--data-text-field="f" data-template="btn-Template"-->
        <!--data-role="button" data-bind="source: buttonText" data-template="btn-Template"-->

    </div>
</div>

<script type="text/x-kendo-tmpl" id="dropdownlist-template">
    <a data-role="button">${n}</a>
</script>
